* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragrahsbox{
    background-color: gray;
    padding-top: 20px;
    text-align: justify;
    padding-left: 10px;
}

span{
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    bottom: 20px;
}

#title1{
    background-color: pink;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    float: right;
}

#title2{
    background-color: crimson;
    border: 2px solid black;
    color: white;
    border-top: none;
    border-right: none;
    float: right;
}

#title3{
    background-color: peachpuff;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    float: right;
}

p{
    border: 2px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.row{
    width: 100%;
}

/*browser should display a desktop version of the site when the width of 
the browser window is 992px and above
*/
@media (min-width: 992px) {
    .box1, .box2, .box3{
        float: left;
    }

    .box1{
        width: 33.3%;
    }

    .box2{
        width: 33.3%;
    }

    .box3{
        width: 33.3%;
    }
 
}

/*Tablet view should appear only if the width of the
browser window is between 768px and 991px
*/
@media (min-width: 768px) and (max-width: 991px) {
    .box1, .box2, .box3{
        float: left;
    }

    .box1{
        width: 50%;
    }

    .box2{
        width: 50%;
        
    }

    .box3{
        width: 100%;
        padding-top: 30px;
    }
  
}

/*Mobile view should appear only if the width of the browser 
is equal to or less than 767px
*/
@media (max-width: 767px) {
    .box1, .box2, .box3{
        float: left;
        padding-bottom: 20px;
    }

    .box1{
        width: 100%;
    }

    .box2{
        width: 100%;
    }

    .box3{
        width: 100%;
    }
}
